@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar header"
                        "sidebar main"
                        "sidebar main";
}

.logo {
    padding-left: 30px;
}

.header {
    background-color: white;
    grid-area: header;
}

.header-elements {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0% 4%;    

}

.sidebar {
    background-color: #15a1ec;
    grid-area: sidebar;
    display: grid;
}

.main {
    background-color: #cccccc;
    grid-area: main;
}

.icon-elements {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    text-decoration: underline;
}

.pp,
.user img {
    width: 40px;
    border-radius: 50%;
    justify-self: center;
}

.first-head {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

input {
    background-color: #e2e8f0;
    border: none;
    outline: none;
    border-radius: 12px;
    height: 20px;
}

.first-end {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.second-head {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 2fr auto;
    align-items: center;
    gap: 10px;
}

.second-head .pp {
    width: 60px;
    justify-self: start;
}

.greeting p:first-child {
    font-size: 12px;
}

.greeting {
    line-height: 4px;
}

.greeting p:last-child {
    font-size: 22px;
    min-width: 270px;
}

.buttons {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

button {
    background-color: #15a1ec;
    border: none;
    border-radius: 60px;
    margin: 15px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;

}

button:active {
    background-color: white;
    color: #15a1ec;
}

.main {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 0.9fr;
    grid-template-rows: auto repeat(3, 1fr);
    gap: 20px;
    font-weight: normal;
    font-size: 14px;
}

.projects {
    display: grid;
}

.project {
    border: 1px solid black;
    width: 250px;
    /* grid-row: 2 / 5; */
    grid-column: 1 / span 2;
}

.project > p {
    font-variant: 400;
}

.announce {
    grid-column: 4;
}

.announce-card,
.user-container {
    background-color: white;
    padding: 30px;
    border-radius: 2%;
}

.announce-card div h5,
.announce-card div p{
    margin: 2px;
    font-size: 14px;
}

.announce-card div p {
    font-size: 12px;
}

.announce-card div:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 8px 0;
    padding: 8px 0;
}


.user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    line-height: 2px;
    gap: 10px;
    padding-bottom: 10px;
}

.user p:first-child {
    font-weight: bold;
}