@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar header"
                        "sidebar main"
                        "sidebar main";
}

.logo {
    padding-left: 30px;
}

.header {
    background-color: white;
    grid-area: header;
}

.header-elements {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0% 4%;    

}

.sidebar {
    background-color: #15a1ec;
    grid-area: sidebar;
    display: grid;
}

.main {
    background-color: #cccccc;
    grid-area: main;
}

.icon-elements {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    text-decoration: underline;
}

.pp {
    width: 40px;
    border-radius: 50%;
    justify-self: center;
}

.first-head {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

input {
    background-color: #e2e8f0;
    border: none;
    outline: none;
    border-radius: 12px;
    height: 20px;
}

.first-end {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.second-head {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 2fr auto;
    align-items: center;
    gap: 10px;
}

.second-head .pp {
    width: 60px;
    justify-self: start;
}

.greeting p:first-child {
    font-size: 12px;
}

.greeting {
    line-height: 4px;
}

.greeting p:last-child {
    font-size: 22px;
    min-width: 270px;
}

.buttons {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

button {
    background-color: #15a1ec;
    border: none;
    border-radius: 60px;
    margin: 15px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;

}

button:active {
    background-color: white;
    color: #15a1ec;
}



